<div class=out>
  <h1>Add new things to do</h1>
  <div class=in>
    <%= render 'form', task: @task %>
  </div>
  <div class="in">
    <p> <%= link_to "Go back to your list", tasks_path %> </p>
  </div>
</div>
